<div class="graphs__add-graph">
  <div class="graphs__container">
    <p><h3>Graph</h3></p>

    {% for k, v in pairs(items) do %}
      <p class="theme">subject: {{v["theme"]}}</p> 
      <p class="owner">owner: {{v["owner"]}}</p>
    {% end %}
  </div>
</div>


